---
- name: Converge
  hosts: all
  become: true
  gather_facts: true

  vars:
    smb_workgroup: "TESTGROUP"
    smb_server_string: "Test Samba Server"
    smb_map_to_guest: "never"
    ufw_enabled: false
    vault_smb_passwords:
      testshare: "TestPassword123!"
      readonly: "ReadOnlyPass456!"
    smb_shares:
      - name: "testshare"
        path: "/srv/samba/testshare"
        user: "smbtest"
        group: "smbtest"
        uid: 3001
        gid: 3001
        permission: "rw"
        comment: "Test Share for Molecule"
        browseable: "yes"
        guest_ok: "no"
      - name: "readonly"
        path: "/srv/samba/readonly"
        user: "smbro"
        group: "smbro"
        uid: 3002
        gid: 3002
        permission: "ro"
        comment: "Read-only Test Share"
        browseable: "yes"
        guest_ok: "no"

  roles:
    - role: smb_share
