---
- name: Converge
  hosts: all
  become: true
  gather_facts: true

  vars:
    ssh_port: 22
    ssh_permit_root_login: "no"
    ssh_password_authentication: "no"
    ssh_pubkey_authentication: "yes"
    ufw_enabled: true
    ufw_default_incoming: deny
    ufw_default_outgoing: allow
    ufw_allowed_services:
      - ssh
    auto_updates_enabled: true

  roles:
    - role: security
