---
- name: Converge
  hosts: all
  become: true
  gather_facts: true

  vars:
    timezone: "Europe/Amsterdam"
    common_packages:
      - vim
      - htop
      - curl
      - wget
      - git
      - net-tools
      - tree
      - unzip

  roles:
    - role: common
